/*
 * style.css
 * 02/03/2020 
 *
 * style pour la page index
 *
 * v1.0 
 */
body {
    padding        : 0; 
    margin         : 0;
    display        : flex;
    flex-direction : column;
    font-family    : 'Quicksand', sans-serif;
}

/*  
*   nav bar 
*/
.ul_bar {
    list-style-type     : none;
    margin              : 0;
    padding             : 0; 
    overflow            : hidden; 
    background-color    : #333;
}
li a {
    display         : block; 
    color           : white; 
    text-align      : center; 
    padding         : 14px 16px; 
    text-decoration : none;
}
.li_logo {
    float : left;
}

.li_logout {
    float            : right;
    display          : flex;
    justify-content  : center;
    align-items      : center;
    padding-left     : 15px;
    padding-right    : 15px;
    color            : white; 
    text-align       : center;
    font-size        : 30px;
    background-color : #f8b617;
    height           : 192px;
}

.li_user {
    float : right;
} 
.div_user {
    float : right;
}
/*
 * main 
 */


main {
    display         : flex; 
    flex-direction  : column;
    justify-content : center;
    text-align      : center;
}

#presentation {
    margin-top : 5%;
}
#ask_title {
    font-family: 'Permanent Marker', cursive;
}

#container {
    margin-top   : 100px;
    margin-left  : 20%;
    margin-right : 20%;
}  
button {
    width : 300px;
}

input {
    width : 400px; 
} 

.message {
    padding : 10px;
    color   :  #f8b617;
}

.img_help {
    height : 15px;
    width  : 15px;
} 

#div_list_questions {
    display        : flex;
    flex-direction : column;
    margin-top     :  30px;
} 
span {
    margin : 10px; 
} 
.img_help_1 {
    height : 30px;
    width  : 30px;
}
.img_help_2 {
    height : 50px;
    width  : 50px;
}  

/*
 * footer
 */

footer {
    display             : flex;
    justify-content     : space-between; 
    padding             : 20px;
    margin-top          : 30px; 
    background-color    : #333;
    color               : white;

}
